<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookbook-App Users Index</title>
    <link rel="stylesheeet" href="/css/app.css" />
</head>
<body>
    <h1>Welcome to Bookbook-App</h1>
    <nav>
        <form action="/users/signup">
            <input type="submit" value="Sign Up" />
        </form>
        <form action="/users/login">
            <input type="submit" value="Log In" />
        </form>
    </nav>
</body>
</html>