<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookbook-App Signup Page</title>
    <link rel="stylesheeet" href="/css/app.css" />
</head>

<body>

    <h1> Please Sign Up:</h1>
    <br>
    <form action="/users/signup" method="POST">
        Name: <input type="text" name="name" />
        <br/>
        Username: <input type="text" name="username" />
        <br/>
        Password: <input type="text" name="password" />
        <br/>
        Profile Picture: <input type="url" name="pic" />
        <br>
        <input type="submit" name="" value="Sign Up"/>
    </form>

    
</body>
</html>